/report-frn.aux
/report-frn.fdb_latexmk
/report-frn.fls
/report-frn.log
/report-frn.synctex.gz
/report.acn
/report.aux
/report.bbl
/report.blg
/report.fdb_latexmk
/report.fls
/report.ist
/report.log
/report.nlo
/report.out
/report.synctex.gz
/report.toc